body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("preview4.png");
    background-size: 100%;
}

#e {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(227, 160, 93, 0.6);
}

#e h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

#e input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

#e input[type="submit"]:hover {
    background: #2ecc71;
}