<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>豌豆射手</title>
    <link rel="stylesheet" type="text/css" href="static/style0.css">
</head>
<body>
<form id="e" action="/predict" method="post">
    <h1>僵尸企业分类</h1>
    <input class="five" type="submit"  name="dec" value="单条查询">
    <input class="six" type="submit"  name="dec" value="批量查询">
    <input class="seven" type="submit"  name="dec" value="输入特征">
    <input class="eight" type="submit"  name="dec" value="数据透视">
</form>
</body>
</html>